.notification-box {
    position: fixed;
    top: 20px;
    /* Căn cách trên cùng */
    right: 20px;
    /* Căn cách bên phải */
    padding: 10px 20px;
    /* Giảm padding để chiều dọc ngắn hơn */
    border-radius: 4px;
    /* Giữ góc bo nhỏ */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    background-color: white;
    z-index: 1000;
    width: 400px;
    /* Tăng chiều ngang để box dài hơn */
    box-sizing: border-box;
}



.notification-box.error {
    border: 4px solid #f44336;
}

.notification-box.success {
    border: 4px solid #4caf50;
}

.notification-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    /* Đặt cỡ chữ nhỏ lại */
}

.notification-content span {
    flex: 1;
    padding: 10px;
    /* Giảm padding để phù hợp với cỡ chữ nhỏ */
    font-size: 12px;
    /* Đặt cỡ chữ nhỏ hơn để đồng nhất với nội dung */
    text-align: center;
}

button {
    position: absolute;
    top: -13px;
    /* Vị trí từ trên xuống */
    right: 0px;
    /* Vị trí từ phải sang */
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}