@import '../../styles/shared-styles.scss';

.container {
    color: rgb(0, 0, 0);
}

.intro-section {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

.product-header {
    color: $shopapp-tint-color;
}

.form-control {
    background-color: $shopapp-background-color;
    border: 1px solid rgb(29, 33, 54);
    color: rgb(0, 0, 0);
}

.form-control:focus {
    border-color: rgb(0, 0, 0);
    background-color: $shopapp-background-color;
}

.form-label {
    color: rgb(0, 0, 0);
}

.product-header {
    color: $shopapp-tint-color;
}

.product-order {
    color: $shopapp-title-color;
}