<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
</header>
<footer class="footer">
    <div class="footer_container container grid">
        <div>
            <a href="#" class="footer_logo">
                <i class="ri-book-3-line"></i> T - Book
            </a>

            <p class="footer_description">
                Find and explore the best eBooks from all your <br>
                favorite writers.<br>
                Hotline: 01234566789
            </p>
        </div>


        <div>

            <h3 class="footer_title">Social</h3>

            <div class="footer_social">
                <a href="" target="_blank" class="footer_social-link">
                    <i class="ri-facebook-circle-line"></i>
                </a>
                <a href="" target="_blank" class="footer_social-link">
                    <i class="ri-instagram-line"></i>
                </a>
                <a href="" target="_blank" class="footer_social-link">
                    <i class="ri-twitter-x-line"></i>
                </a>
            </div>
        </div>
    </div>
    <span class="footer_copy">
        &#169; All Rights-2024 Reserved By T4-Dandelion
    </span>
</footer>